


  <div id="footer" class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <!-- <span id="footer-header">Jeremy Massey</span>

            <p class="mx-auto text-right"><a href="" id="footer-alt-text" > "Team Mock-UP"</a></p> -->

        <img src="http://diyrpi.com/template/imgs/1.jpg" class="img-fluid mx-auto w-40 h-25 rounded-circle"><br>
        <span id="footer-header">Jeremy Massey</span><br>
        <span>Lead</span>
        <div class="social">
          <a href="http://facebook.com/jeremylmassey" target="blank" class="fa fa-facebook fa-fw"></a>
          <a href="http://twitter.com/jmrlgg" target="blank" class="fa fa-twitter fa-fw"></a>
          <a href="http://linkedin.com/jlmassey05" target="blank" class="fa fa-linkedin fa-fw"></a>
          <a href="https://github.com/jmrlgg" target="blank" class="fa fa-github fa-fw"></a>
        </div>
        <br> //TODO: hahaha
      </div>
      <div class="col-md-4">
        <!-- //twitter addons -->
        <!-- <div class="text-center"><a class="twitter-follow-button" href="https://twitter.com/jMrLgg" data-show-count="0"> Follow @jMrLgg</a> -->
        <a class="twitter-timeline" data-width="300" data-height="300" data-theme="dark" data-link-color="#F5F8FA" href="https://twitter.com/jMrLgg">Tweets by jMrLgg</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <span id="footer-header" class="pi-item">NewsLetter</span> -->
        <span class="mx-auto text-right"><a href="" id="footer-alt-text"> "For Site Updates and New Project releases!"</a></span>
        <br>
        <form action="mailto:jmrl@diyrpi.com" <method="post" enctype="text/plain">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your name"> </fieldset>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
          <button type="submit" class="btn btn-primary p-0">SignUP</button>
        </form>

        </form>
      </div>
    </div>
  </div>
