<nav class="vertical-menu">
  <a href="#" class="fa fa-home v-header"></a>
  <a href="#" class="">Link 1</a>
  <a href="#" class="">Link 2</a>
  <a href="#" class="">Link 3</a>
  <a href="#" class="">Link 4</a>
  <a href="#" class="fa fa-code v-header"></a>
  <a href="#" class="">Link 1</a>
  <a href="#" class="">Link 2</a>
  <a href="#" class="">Link 3</a>
  <a href="#" class="">Link 4</a>
  <a href="#" class="fa fa-comments v-header"></a>
  <a href="#" class="">Link 1</a>
  <a href="#" class="">Link 2</a>
  <a href="#" class="">Link 3</a>

</nav>
