<nav class="vertical-menu">
  <a href="#" class="fa fa-home v-header"></a>
  <a href="{% url 'news' %}" class="">Latest News</a>
  <a href="{% url 'diy_cal' %}" class="">Calendar</a>
  <a href="#" class="">Archive</a>
  <a href="#" class="fa fa-code v-header"></a>
  <a href="./wiki/json2csv.html" class="">s.Reddit Json to csv</a>
  <a href="/staticip.html" class="">Obtain StaticIP</a>
  <a href="./wiki/vncinstall.html" class="">VNCServer Install</a>
  <a href="#" class="fa fa-comments v-header"></a>
  <a href="{% url 'yolo_irc' %}" class="">#Yolodigi@chat.freenode.net</a>
  <a href="https://yolodigi.slack.com/messages/C6EGU15NH/details/" target="_blank" class="">YoloDigi Slack</a>
  <a href="#" class="">Link 3</a>

</nav>
