<article id="1168" class="post tag-macos">
	<div class="post-head">
		<h2 class="post-title"><a href="/imgs/cms_layout.png">Copia Clipboard Manager for Mac</a></h2>
		<div class="post-meta">
			<span class="author">By <a href="/author/mjd/">MJD</a></span> &bull;
			<span class="date">May 22, 2017</span>
		</div>
	</div>
	<div class="featured-media">
		<a href="/copia-clipboard-manager-for-mac/"><img src="./imgs/cms_layout.png" alt="Copia Clipboard Manager for Mac"></a>
	</div>
	<div class="post-content">
		<p><a href=https://itunes.apple.com/app/copia/id1162224626?mt=12"" rel="nofollow" onclick="trackOutboundLink('https://itunes.apple.com/app/copia/id1162224626?mt=12'); return false;"><strong>Copia</strong></a> is a smart and elegant clipboard manager for Mac. It remembers every time you copy something so that you can re-use it later on.</p>

<p><strong>NEAT AND VERSATILE</strong></p>

<p>Every clip you copy is represented by an item in the History. Any content is recognisable at a glance.</p>

<p><img src="https://images.seo-michael.co.uk/copia1.png" alt="" /></p>

<p><strong>IDENTIFY AND CLASSIFY</strong></p>
	</div>
	<div class="post-permalink">
		<a href="/copia-clipboard-manager-for-mac/" class="btn btn-default">Continue Reading</a>
	</div>
	<footer class="post-footer clearfix">
		<div class="pull-left tag-list">
			<i class="fa fa-folder-open-o"></i>
			<a href="/tag/macos/">macos</a>
		</div>
		<div class="pull-right share">
			<ul class="share-icons">
	<!-- twitter -->
	<li>
		<a href="https://twitter.com/share?text=Copia%20Clipboard%20Manager%20for%20Mac&amp;url=https://seo-michael.co.uk/copia-clipboard-manager-for-mac/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
	</li>
	<!-- facebook -->
	<li>
		<a href="https://www.facebook.com/sharer/sharer.php?u=https://seo-michael.co.uk/copia-clipboard-manager-for-mac/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
	</li>
	<!-- google plus -->
	<li>
		<a href="https://plus.google.com/share?url=https://seo-michael.co.uk/copia-clipboard-manager-for-mac/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
	</li>
</ul>		</div>
	</footer>
</article>
