{% load staticfiles %}
<html>
<head>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <title>DIaaY:Yolo Paradise</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://diy.yolodigi.com/assets/css/theme.css" type="text/css">
  <link rel="stylesheet" href="https://diy.yolodigi.com/assets/css/post-style.css" type="text/css">

  <!-- <link rel="stylesheet" href="./assets/css/style.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="https://pingendo.github.io/templates/blank/theme.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"  type="text/css"> -->
  <!-- Google antalytics  -->

  <script src="antalytics.js"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-102949878-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Google antalytics  -->
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KZCRD8S');
  </script>
  <!-- End Google Tag Manager -->
  <script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"https://seo-michael.co.uk/cookie-policy/","theme":"light-bottom"};
</script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZCRD8S"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar sticky-top navbar-expand-md navbar-light bg-faded text-center">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div id="navbar-top" class="collapse navbar-collapse text-center justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news' %}">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://diy.yolodigi.com/">DIY Paradise</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a class="nav-link" href="/admin/"><span class="glyphicon glyphicon-fire">Admin</span></a>
          </li>
          {% else %}
          <li>
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
          </li>
          <li>
            <a class="nav-link" href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href=""></a>
        </ul>
      </div>
    </div>
  </nav>
  <div class=" py-3 bg-primary">
    <div class="container">


      <div class="alert alert-info alert-dismissable pr-2 p-0 m-0">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"><span class="fa fa-exclamation mr-2 mt-1 m-1 text-danger"></span></a>
        <button type="button" class="btn btn-danger"><small>ver.</small>
                           0.892a</button> We are updating our databases and should be live with a few goto tutorials by August,2017.
      </div>


    <!-- <a href="#" class="btn btn-lg btn-secondary">Button</a> -->
    {% include './includes/rsidenav.html' %}

  </div>


  </div>



  <!-- start site's main content area -->
<section class="content-wrap py-3 bg-faded" style="min-height:500px">
	<div class="container">
		<div class="row ">
			<!-- start main post area -->
      {% block content %}
                        <p><h4>I am going to keep a few of my favorite code examples that
                         I have learnt along the way while designing this site. I hope you guys find it helpful and keep coming back to gain as much as I love to give!
                       </h4><pre>
                           >>> from myapp.models import blog
                           >>> p1 = blog.object.create(headline='Big Hit!', body_text='This would be your fill for the post on the blog!')
                           >>> p1
                           [blog: Big Hit!]
                           >>> p1.save()
                         </pre>

                       </p>
      {% endblock %}

			</div>
			<!-- end main post area -->
			<!-- start sidebar -->

<!-- end sidebar -->
		</div>
	</div>
</section>


  <div class="text-center text-white bg-primary">
    <div class="container">
      <div class="row ">
        <div class="text-center col-md-12 align-self-center"> </div>
      </div>
    </div>
  </div>
  <div class="bg-faded py-5 bg-info text-white">
{% include './includes/footer.html' %}
  </div>

  <div class="bg-inverse">
    <div id="copyright" class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <small>©2016 diyrpi.com</small>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="https://diy.yolodigi.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>
